<%- include('../layout/header.ejs') %>
<div class="body1">
  <div class="container1" id="container1">
    <div class="form-container sign-up1">
      <form action="/auth/signUp" method="POST">
        <h2>Hisob yaratish</h2>
        <% if (regError) { %>
        <div id="error-message" style="color: red"><%= regError %></div>
        <script>
          setTimeout(function () {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
              errorMessage.style.display = "none";
            }
          }, 2000);
        </script>
        <% } %>
        <div class="social-icons">
          <a href="https://t.me/avtoelon_moshinabozor_elon_bozor"
            ><i class="fa-brands fa-telegram fa-xl"></i
          ></a>
          <a href="https://www.instagram.com/avtoelon.uz/"
            ><i class="fa-brands fa-instagram fa-xl"></i
          ></a>
          <a href="https://www.facebook.com/Avtoelon.uz/"
            ><i class="fa-brands fa-facebook-f fa-xl"></i
          ></a>
          <a href="https://youtube.com/@choynakningqopqogi?si=quiKZaNcuWjFH6By"
            ><i class="fa-brands fa-youtube fa-xl"></i
          ></a>
        </div>
        <span>Ro‘yxatdan o‘tish uchun elektron pochtangizdan foydalaning</span>
        <input
          type="email"
          placeholder="example@mail.com"
          id="email"
          name="email"
        />
        <input
          type="username"
          placeholder="Eshmatov Toshmat"
          id="username"
          name="username"
        />
        <input
          type="phone"
          placeholder="998911234567"
          id="phone"
          name="phone"
        />
        <input
          type="password"
          placeholder="Parol"
          id="password"
          name="password"
        />
        <input
          type="password"
          placeholder="Parolni takrorlash"
          id="password2"
          name="password2"
        />
        <button type="submit">Ro'yxatdan o'tish</button>
      </form>
    </div>
    <div class="form-container sign-in1">
      <form action="/auth/login" method="POST">
        <h2>Tizimga kirish</h2>
        <% if (loginError) { %>
        <div id="error-message" style="color: red"><%= loginError %></div>
        <script>
          setTimeout(function () {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
              errorMessage.style.display = "none";
            }
          }, 2000);
        </script>
        <% } %>
        <div class="social-icons">
          <a href="https://t.me/avtoelon_moshinabozor_elon_bozor"
            ><i class="fa-brands fa-telegram fa-xl"></i
          ></a>
          <a href="https://www.instagram.com/avtoelon.uz/"
            ><i class="fa-brands fa-instagram fa-xl"></i
          ></a>
          <a href="https://www.facebook.com/Avtoelon.uz/"
            ><i class="fa-brands fa-facebook-f fa-xl"></i
          ></a>
          <a href="https://youtube.com/@choynakningqopqogi?si=quiKZaNcuWjFH6By"
            ><i class="fa-brands fa-youtube fa-xl"></i
          ></a>
        </div>
        <span>Elektron pochta va parolingizdan foydalaning </span>
        <input
          type="email"
          placeholder="example@mail.com"
          id="email"
          name="email"
        />
        <input
          type="password"
          placeholder="Parol"
          id="password"
          name="password"
        />
        <a href="#"> Parolni unutdingizmi? </a>
        <button>Tizimga kirish</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Qaytib kelganingizdan xursandmiz!</h1>
          <p>
            Saytning barcha imkoniyatlaridan foydalanish uchun shaxsiy
            ma'lumotlaringizni kiriting
          </p>
          <button class="hidden" id="login1">Tizimga kirish</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Salom, Do'stim!</h1>
          <p>
            Saytning barcha imkoniyatlaridan foydalanish uchun shaxsiy
            ma'lumotlaringiz bilan ro'yxatdan o'ting
          </p>
          <button class="hidden" id="register1">Ro'yxatdan o'tish</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layout/footer.ejs') %>
