<%- include('../layout/header.ejs') %>
<div class="body1">
  <div class="container1" id="container1">
    <div class="form-container sign-up1">
      <form action="/auth/signUp" method="POST">
        <h1>Create Account</h1>
        <% if (regError) { %>
        <div id="error-message" style="color: red"><%= regError %></div>
        <script>
          setTimeout(function () {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
              errorMessage.style.display = "none";
            }
          }, 2000);
        </script>
        <% } %>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>Or use your email for registeration</span>
        <input
          type="email"
          placeholder="example@mail.com"
          id="email"
          name="email"
        />
        <input
          type="username"
          placeholder="Eshmatov Toshmat"
          id="username"
          name="username"
        />
        <input
          type="phone"
          placeholder="998911234567"
          id="phone"
          name="phone"
        />
        <input
          type="password"
          placeholder="Password"
          id="password"
          name="password"
        />
        <input
          type="password"
          placeholder="Password repeat"
          id="password2"
          name="password2"
        />
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in1">
      <form action="/auth/login" method="POST">
        <h1>Sign In</h1>
        <% if (loginError) { %>
        <div id="error-message" style="color: red"><%= loginError %></div>
        <script>
          setTimeout(function () {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
              errorMessage.style.display = "none";
            }
          }, 2000);
        </script>
        <% } %>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>Or use your email password</span>
        <input
          type="email"
          placeholder="example@mail.com"
          id="email"
          name="email"
        />
        <input
          type="password"
          placeholder="Password"
          id="password"
          name="password"
        />
        <a href="#"> Forget Your Password? </a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="login1">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all of site features</p>
          <button class="hidden" id="register1">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layout/footer.ejs') %>
