<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
<%- include('../layout/header.ejs') %>
<div class="container mtt">
  <div class="row">
    <div class="col-lg-12">
      <div class="card p-4 mb-5">
        <form action="/plus-minus/padd" method="POST">
          <div class="mb-3">
            <label for="category" class="form-label">Daromad turi</label>
            <select
              class="form-select"
              id="category"
              aria-label="Default select example"
              name="category"
            >
              <option selected disabled>Kategoriyani tanlang</option>
              <option value="Kirim">Kirim</option>
              <option value="Chiqim">Chiqim</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Daromad turi</label>
            <select
              class="form-select"
              id="name"
              aria-label="Default select example"
              name="name"
            >
              <option selected disabled>Kategoriyani tanlang</option>
              <option value="Kunlik maosh">Kunlik maosh</option>
              <option value="Oylik maosh">Oylik maosh</option>
              <option value="Avans">Avans</option>
              <option value="KPI">KPI</option>
              <option value="Premiya">Premiya</option>
              <option value="Ro'zg'or">Ro'zg'or</option>
              <option value="Kamunal tolovlar">Kamunal tolovlar</option>
              <option value="Abed">Abed</option>
              <option value="Bezin">Bezin</option>
              <option value="O'zim uchun">O'zim uchun</option>
              <option value="Va boshqalar">Va boshqalar</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label">Narxi (so'mda)</label>
            <input
              type="number"
              class="form-control"
              placeholder="500 000"
              id="amount"
              name="amount"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Tarif</label>
            <textarea name="description" id="description"></textarea>
            <script>
              ClassicEditor.create(
                document.querySelector("#description")
              ).catch((error) => {
                console.error(error);
              });
            </script>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Kiritish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/footer.ejs') %>
