<%- include('../layout/header.ejs') %>
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12 mt-5">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        <strong></strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped text-center my-3">
          <thead>
            <tr class="table-dark">
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>E-Mail</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-middle">
              <td></td>
              <td>
                <img src="" width="50" class="img-thumbnail" />
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a href="" class="text-success"
                  ><i class="fas fa-edit fa-lg mx-1"></i
                ></a>
                <a href="" class="text-danger"
                  ><i class="fas fa-trash fa-lg mx-1"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <h1 class="text-center text-secondary mt-5">
          No users found in the database!
        </h1>
      </div>
    </div>
  </div>
</div>

<%- include('../layout/footer.ejs') %>